* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    padding: 0 25px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*------------------------------ app name ------------------------------*/

.app-name {
    font-size: 2rem;
    font-weight:200;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

.app-description {
    margin-top: 15px;
    font-size: 1.25rem;
    font-weight:200;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

/*------------------------------ upload file container ------------------------------*/

.upload-file-outer-div {
    margin-top: 50px;
    width: 70%;
    height: 30%;
    padding: 10px 20px 20px 10px;

    background-color: #007bff;
    border-radius: 10px;
}

.upload-file-inner-div {
    width: 100%;
    height: 100%;

    background-color: rgb(0,0,0,0.1);
    border: 5px dashed rgb(0,0,0,0.1);

    display:flex; 
    flex-direction:column; 
    justify-content:center; 
    align-items:center;
}

.upload-file-inner-div > img {
    height: 50%;
}

.upload-file-inner-div > div {
    margin-top:25px; 
    
    color:white;
    font-size: 1.25rem;
    font-weight: lighter;
}

/*------------------------------ steps ------------------------------*/

.steps-heading {
    margin-top: 30px;
    font-size: 1.25rem;
    font-weight:200;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

.steps {
    width: 100%;
    margin-top: 30px;
}

.cursor-pointer {
    cursor: pointer;
}

.default-pointer {
    cursor: default;
}

.steps-images, .steps-instructions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    text-align: center;
    font-weight: lighter;
}

.big-image {
    width: 15%;
}

.small-image {
    width: 24px;
}