body {
    width: 100vw;
    
    display: flex;
    justify-content: center;
    background: #f4f4f4;
}

/*------------------------------ top navigatio bar ------------------------------*/

.navbar {
    display:flex;
    justify-content:space-between;
}

.nav-item {
    border-collapse: collapse;
}

.navbar .nav-item .nav-link {
    color: white;
}

/* sort by */

.navbar > .navbar-nav > .nav-item > .sort-by-label {
    height: 2.5rem;
    color:black;
    background:#f3f3f3; 
    border: 1px solid #ced4da; 
    border-radius: 5px 0 0 5px; 
}

.sort-by > .dropdown-menu > .active {
    color: white;
    background-color: #007bff;
}

/* search */

.search {
    width: 15rem; 
    height: 2.5rem; 
    color: black;
    border-radius: 0 5px 5px 0; 
}

/* replace */

.replace {
    margin-left:20px;
}

/*------------------------------ loading container ------------------------------*/

.loading-container {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------------------ no svg alert ------------------------------*/

.no-svg-alert {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
    margin: auto;
    margin-top: 200px;
}

/*------------------------------ analyzer container ------------------------------*/

.analyzer-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

/*------------------------------ data container ------------------------------*/

.data-container {
    margin: 0 30px;
    margin-top: 6rem;
    padding: 1.5rem;
    background-color: white;
    border-radius: 25px;
}

.data-container > hr {
    width:100%;
    margin: 10px 0;
}

.data {
    display: flex;
    justify-content: space-between;
}

.data > div > div {
    padding: 10px 0;
}

.vertical-line {
    border-left: 1px solid black;
}

.data-container-checkboxes {
    display: flex;
}

/*------------------------------ svg container ------------------------------*/

.svg-container {
    width: 100vw;
    margin: 5vh 0;
    padding: 0 15px;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

/* big article */

.big-article {
    width: 300px;
    height: 350px;
    padding: 15px;
    margin: 15px;

    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    text-align: center;
    
    background: #FFF;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    word-break: break-all;
}

.big-article .open-optimiser {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    margin-left: auto;
}

.big-article .svg-file {
    width: 75px;
    height: 75px;
    padding: 0;
    margin: 0;
}

.big-article .svg-name {
    padding: 0px;
    margin: 0px;
    margin-top: 10px;

    max-height: 40px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.big-article hr {
    width: 90%;
}

.big-article p {
    margin: 2px 0;
}

/* small article */

.small-article {
    width: 170px;
    height: 170px;
    padding: 15px;
    margin: 15px;
    
    background: #FFF;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    word-break: break-all;
}

.small-article .open-optimiser {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    margin-left: auto;
}

.small-article .svg-file {
    width: 75px;
    height: 75px;
    padding: 0;
    margin: 0;
}

.small-article .svg-name {
    padding: 0px;
    margin: 0px;
    margin-top: 10px;

    font-size: 14px;
    line-height: 20px;
    height: 40px;
    max-height: 40px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.risky {
    padding: 12px;
    border: 3px solid red;
}

/*------------------------------ setting container ------------------------------*/

.setting-container {
    margin-top: 100px;
    margin-bottom: 40px;

    margin-left: 50px;
    margin-right: 50px;

    background-color: white;
    border-radius: 25px;
    padding: 25px;
}

.threshold-container {
    display: flex;
}

.one-third {
    width: 33.33%;
}

.one-third > input {
    width: 80%;
}

.setting-container > label {
    margin-top: 10px;
}

.setting-container > .plugin-container {
    display: flex;
    flex-wrap: wrap;
}

.setting-container > .plugin-container > .plugin {
    width: 33.33%;
}

.setting-button-container {
    display: flex; 
    width: 100%;
    margin-top: 25px;
}

.apply-setting {
    margin-left: 20px;
}

/*------------------------------ helper class ------------------------------*/

.hide {
    display: none;
}

.align-right {
    margin-left: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.default-pointer {
    cursor: default;
}