* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

    background: url("../assets/background.svg");
    background-size: 20px;
}

/*------------------------------ navigation bar ------------------------------*/

.nav-item img {
    height: 1.25rem;
    margin-bottom: 2px;
}

.navbar .nav-item .nav-link {
    color: white;
}

.navbar .nav-item .nav-link {
    color: white;
}

.nav-item-border {
    border-left: 1px solid rgb(255,255,255,0.5);
    margin-left: 5px;
    padding-left: 5px;
}

/*------------------------------ main container ------------------------------*/

.main-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

/*------------------------------ setting container ------------------------------*/

.setting-container {
    width: 25vw;
    min-width: 25vw;
    max-width: 25vw;

    padding: 20px;
    padding-top: 10px;

    overflow: auto;

    background-color: white;
}

/*------------------------------ svg container ------------------------------*/

.svg-container {
    width: 75vw;
    min-width: 75vw;
    max-width: 75vw;
    
    display: flex;
    flex-direction: column;
}

.original-svg-container, .optimised-svg-container {
    width: 100%;
    height: 50%;
    padding: 10px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.original-svg-container .svg-setting, .optimised-svg-container .svg-setting {
    display:flex; 
    justify-content:space-between;
    align-items: stretch;
}

.original-svg-container img, .optimised-svg-container img {
    height: 20px;
    width: 20px;
    margin:7px;
    overflow: auto;
}

.original-svg-content, .optimised-svg-content {
    width: 100%;
    flex-grow: 1;
    overflow: auto;
}

.original-svg-container svg, .optimised-svg-container svg {
    height: 50%;
    width: 50%;
}

.original-svg-container > label, .optimised-svg-container > label {
    width:75%;
    position: fixed; 
    text-align: center;
    align-self: center; 
    font-size: 1.25rem;
}

.original-svg-container .original-svg-data-content, .optimised-svg-container .optimised-svg-data-content {
    display:flex; 
    flex-direction:column;
    justify-content: center;
}


.optimised-svg-container .optimised-svg-data-content p {
    transition: font-weight 0.3s ease-in-out;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-setting {
    width: 100%;
    border-radius: 10px;
}

.svg-setting > label {
    align-self: center;
    font-size: 1.25rem;
}

/*------------------------------ helper ------------------------------*/

.hide {
    display: none;
}

.bold {
    font-weight: bold;
}

.align-right {
    margin-left: auto;
}

.btn-outline-primary {
    margin-left: 20px;
}

.plugin {
    margin-top: 5px;
}

.copy-svg-markup {
    position: absolute;
    left: "-9999px";
}

.alert {
    position: fixed;
    font-size: 13px; 
    padding: 5px; 
    margin-right: 5px;
    opacity: 0;
}

.opacity-transition {
    transition: opacity 0.5s ease-out;
}

.one-opacity {
    opacity: 1;
}

.cursor-pointer {
    cursor: pointer;
}

.default-pointer {
    cursor: default;
}